/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.main{
  margin:0 auto;
}
#main-hero{  
  display:block;
    background:
    url('../../assets/images/logos/inhabitent-logo-full.svg') center no-repeat,
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.5), rgba(100,100,100,0.5)) center,
    url('../../assets/images/home-hero.jpg') top no-repeat;
  background-size:
    300px,
    cover,
    cover;
  height: 100vh;
  width:100%;
}

.shop-card{
  width:23%;
  height:250px;
  display:flex;
  flex-flow:column;
  justify-content: space-around;
  margin:0 auto;
  text-align: center;
  border:lightgrey 1px solid;
  border-top:lightgrey 5px solid;
}
.shop-card-list{
  width:1120px;
  list-style-type: none;
  display:flex;
  flex-flow:row;
  flex-wrap: nowrap;
  margin:0 auto;
}
.shop-card img{
  margin:0 auto;
  width:71px;
  height:71px;
}
.front-shop-button{
  color:white;
  background-color: #248A83;
  margin:0 auto;
}

.front-shop-excerpt{
  margin:0 auto;
}
.front-products{
  margin:0 auto;
}

.post{
 display:inline-block;
  margin:0 auto;
  text-align: center;
  border:lightgrey 2px solid;
  width:352px;
}

.front-main-container{
  margin:0 auto;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width:1120px;
}


.front-posts{
  width:1120px;
  margin:0 auto;
  align-content: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.page-id-25{
  margin:0 auto;
}

/* About Page */

#about-main{
  margin:0 auto;
  width:1120px;
}

.container{
  width:1120px;
}

/* footer stuff */
.site-footer{
  justify-content: space-around;
  color:white;
  height:40vh;
  background:url('../../assets/images/dark-wood.png') bottom repeat-x;
}

h3{
  color:#d99054;
}
.ftr-section{
  box-sizing: border-box;
  display:flex;
  flex-direction: row; 
  flex-wrap:wrap;
  justify-content: space-around;
  width:1120px;
  margin:0 auto;
}

.contact{
  width:25%;
  margin:auto auto;
}
.hours{
  width:50%;
  margin:auto auto;
}

.foot-logo{
  width:25%;  
  margin:auto auto;
}

.site-info{
  display:inline-block;
  margin: 0 auto;
}

.entry-header{
  display: none;
}

// ------Blog Page-------
.content-area{
  margin:0 auto;
}
.blog-post{
  padding-top:50px;
  margin:0 auto;
  position:relative;
}
.blog-post-title{
  display:inline;
  color:white;
  background:#248A83;
  position:absolute;
  top:50px;
  left:0px;
}
.author-date-comments{
  display:inline;
  color:white;
  background:#248A83;
  position:absolute;
  right:50px;
  bottom:0px;
}
.blog-pic{
  margin:0 auto;
width:70%;
height:auto;
}


//--------shop page----------
.page-title{
  padding-top:50px;
  text-transform: uppercase;
  text-align: center;
}

.taxonomy-description{
 
    text-align: center;
}
.product-type-nav{
  text-align: center;
   display:flex;
  flex-flow:row;
  flex-wrap: nowrap;
  list-style-type: none;
}
.indvid-product-type{
  width:10%;
  display:inline;
}
.shop-header{
  height: 200px;
  width:1120px;
  margin:0 auto;
}

.shop-main-container{
  width:1120px;
  margin:0 auto;
}
.product{
  display:inline-block;
  margin:10px 12.25px;
  border:lightgrey 2px solid;
  width:22.5%;
}
.product-picture{
  height:220px;
}
.wp-post-image{
  object-fit: cover;
  width:inherit;
  height:230px;
}
.product-text{
  display: flex;
}
.dots{
  flex-grow:2;
  background-image: linear-gradient(to right, grey 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 4px 2px;
  background-repeat: repeat-x;
  margin-bottom:2px;
}
//---------Single Products-------//


.product-picture{
  height:auto;
}

.container{
	width: 1120px;
	margin: 0 auto;
}

.site-content{
	display: flex;
}
.home,
.page-template-page-about,{
	.site-content{
		width: 100%;
		
	}
}

.primary{
    margin-top:100px;
}


.blog,
.page-template-default,
.single-post,
.single-product,
.search{
	.content-area{
		width: 73%;
		padding: ($base__space-unit *2) ($base__space-unit *2) 0 0;
    margin:0 0;
	}
}

	.site{
display:flex;
flex-flow:column;
  }

.single-product,
.archive{
	.content-area{
		width: 100%;
	}
}
.widget-area{
	width: 27%;
	border-left: 1px solid lightgrey;
	padding: ($base__space-unit * 2) 0 0 ($base__space-unit*2);
	padding-top:0px;
  margin-top:75px;
  h2{
	}
}
.site-main{
	margin-bottom: $base__space-unit *4;
}


.about-content{
	width: 800px;
	margin: 0 auto;
}

//-----------------Find Us------------//
submit{
    color:white;
  background-color: #248A83;
  margin:0 auto;
}